/** Import Globals
 ---------------------------------------------------------*/
@import
 'config/effects',
 'config/functions',
 'config/grid',
 'config/reset',
 'config/colors',
 'config/typography',
 'config/forms'
;

/** Style Overrides
 ---------------------------------------------------------*/
body.login {
  background-color: $black;
}
body.login div#login {}
body.login div#login h1 {}
body.login div#login h1 a {}
body.login div#login form#loginform {
  background-color: $blue;
  box-shadow: none;
}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {
  color: $white;
  text-shadow: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-family: $font-heading;
  font-weight: $font-bold;
}
body.login div#login form#loginform input {
  text-align: center;
  background-color: $white;
  border: 2px solid $blue-light;
  border-radius: 8px;
  font-family: $font-default;
  font-weight: $font-normal;
}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {
  text-shadow: none;
  color: $blue-dark;
  text-transform: uppercase;
  font-family: $font-heading;
  font-weight: $font-bold;
  font-size: 1.5rem;
  height: auto;
  width: auto;
  display: inline-block;
  padding: 0.5rem 1rem;
}
body.login div#login p#nav {}
body.login div#login p#nav a {}
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a {}
